<div class="auth-wrap">
    <div class="chart-wrap">
        <canvas id="player-points" width="500" height="500" value="<%- userInfo.points %>"></canvas>

        <div class="ct-txtwrap">
            <span class="ct-xp"><%- userInfo.points %></span> / <span class="ct-goal"><%- userInfo.xpGoal %></span>
        </div>
    </div>
    <div class="btn-group">
        <button>Find a Game</button>
        <button>Invite a Friend</button>
        <a class="destroy" href="/destroy">Destroy Session</a>
    </div>
</div>