<div class="noauth-wrap">
    <div class="noauth-top">
        <h2 class="noauth-title">First Time?</h2>
        <h4 class="noauth-sub">Pick a username to start playing</h4>
    </div>

    <div class="log-wrap">
        <input name="user" placeholder="Pick a username..." type="text">
        <button class="pickUserBtn">Submit</button>
    </div>
</div>

<div class="auth-wrap">
    <div class="chart-wrap">
        <canvas id="player-points" width="500" height="500" value="<%- userInfo.points %>"></canvas>
        <div class="ct-txtwrap">
           <span class="ct-xp">0</span> / <span class="ct-goal">100</span>
        </div>
    </div>
    <div class="btn-group">
        <button>Find a Game</button>
        <button class="inv-btn">Invite a Friend</button>
        <a class="destroy" href="/destroy">Destroy Session</a>
    </div>
</div>